body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 20vw;
    height: 20vh;
    background: #eee;
    display: inline-block;
    padding: 40ox;
    font-size: 17vmin;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    font-size: 22px;
    margin-top: 10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 10px;
}